body {
    background-color: navy;
    color: aliceblue;
}


/*Estilizando o menu*/

a:link {
    color: rgb(76, 3, 23);
    font-size: 30px;
    text-decoration: none;
    background-color: rgb(217, 255, 0);
    
}
a:visited {
    color: rgb(65, 6, 202);
}
a:hover {
    color: rgb(255, 0, 72);
}
a:active {
    color: rgb(15, 134, 21);
}
